{% extends 'base.html.twig' %}

{% block body %}

    <h1>Post creation</h1>
    {{ form_start(form, {'attr' : { 'class':'form-horizontal' }}) }}
        {#{{ form_widget(form) }}#}
        {{ form_row(form.username, {'attr' : { 'class':'form-control' }}) }}
        {{ form_row(form.title, {'attr' : { 'class':'form-control' }}) }}
        {{ form_row(form.description, {'attr' : { 'class':'form-control' }}) }}
        {{ form_row(form.slogan, {'attr' : { 'class':'form-control' }}) }}
        {{ form_row(form.number, {'attr' : { 'class':'form-control' }}) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
